{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "css",
  "plugins": [
    "prettier-plugin-svelte"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
